
/* --------------- Pritab Pricing Design Heading -------------- */
.pricing_design_heading {
    text-align: center;
    margin-bottom: 50px;
}
.pricing_design_heading h2 {
    font-size: 25px;
    color: #000000;
    position: relative;
    display: inline-block;
}
.pricing_design_heading h2:before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    right: 105%;
    transform: translateY(-50%);
}
.pricing_design_heading h2:after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translateY(-50%);
}
/* ================================================================= */
/* -------------- Pritab Pricing Design 1 Css -------------- */
#pricingTable1 {
    padding-top: 100px;
    padding-bottom: 100px;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box {
    width: 32%;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box:hover {
    transform: scale(1.05);
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .pricing_table_heading {
    background-color: #ffffff;
    padding: 30px 0;
    position: relative;
}


#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .pricing_table_heading .title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box.standard .pricing_table_box_content .pricing_table_heading .title {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .price_part {
    padding: 25px 0;
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
    position: relative;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box.standard .pricing_table_box_content .price_part {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .price_part:before, #pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .price_part:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 13px;
    z-index: 1;
    left: 0;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .price_part:before{
    background-image:   url(libraries/images/arrow2.png);
    top: 0px;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .price_part:after{
    background-image:   url(libraries/images/arrow.png);
    bottom: 0px;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box:hover .pricing_table_box_content .price_part:after{
    bottom: -1px;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box:hover .pricing_table_box_content .price_part:before{
    top: -1px;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .price_part .price_content .price_box h2 {
    color: #fff;
    font-size: 60px;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .price_part .price_content .price_box .dollar {
    font-size: 25px;
    display: inline-block;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .price_part .price_content .price_box .price {
    display: inline-block;
    margin: -15px;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .price_part .price_content .price_box .price2 {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .price_part .price_content .month p {
    color: #fff;
    font-size: 15px;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part {
    background-color: #ffffff;
    padding: 30px 0 0;
    position: relative;
    background-position: left top;
    background-repeat: repeat-x;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content .bottom_part {
    display: block;
    width: 100%;
    height: 55px;
    transform: skewY(4deg);
    margin-bottom: -14px;
    position: relative;
    margin-top: 35px;
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content .bottom_part:after {
    content: "";
    display: block;
    width: 50px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 0;
    transform: skewY(-20deg);
}
/* ---- standard bottom background color ---- */
#pricingTable1 .pricing_table_section .pricing_table_content .standard .pricing_table_box_content .facility_part .facility_content .bottom_part {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
}
/* --- / standard bottom background color --- */
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content ul li {
    margin-bottom: 12px;
    position: relative;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content ul li:after {
    content: "";
    display: block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid#068bc2;
    position: absolute;
    top: 3px;
    left: 0;
}
/* ---- standard arrow color ---- */
#pricingTable1 .pricing_table_section .pricing_table_content .standard .pricing_table_box_content .facility_part .facility_content ul li:after {
    border-left-color: #29c08e;
}
/* --- / standard arrow color --- */
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content ul li p {
    color: #058ac1;
    font-size: 18px;
    border-bottom: 1px solid#058ac1;
    display: block;
    padding: 0 0 12px;
    width: 85%;
    margin: 0 auto;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box.standard .pricing_table_box_content .facility_part .facility_content ul li p{
    color: #29c08e;
    border-bottom: 1px solid#29c08e;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content .addTocart {
    margin-top: 25px;
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content .addTocart a {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 20px;
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
}
#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box.standard .pricing_table_box_content .facility_part .facility_content .addTocart a {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
}
/* -------------/ Pritab Pricing Design 1 Css -------------- */
/* ================================================================= */
/* ================================================================= */
/* -------------- Pritab Pricing Design 2 Css -------------- */
#pricingTable2 {
    padding-top: 100px;
    padding-bottom: 100px;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box {
    text-align: center;
    width: 32%;
    padding: 0 25px;
    transition: 0.5s all;
    cursor: pointer;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box:hover {
    transform: scale(1.05);
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 15px 8px 25px rgba(0, 0, 0, 0.3);
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading {
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
    position: relative;
    padding-top: 50px;
    padding-bottom: 60px;
    border-radius: 25px 25px 0 0;
}
/* ------------- pro heading background color ------------ */
#pricingTable2 .pricing_table2_section .pricing_table2_content .pro2 .pricing_table2_box_content .pricing_table2_heading {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
}
/* ----------- / pro heading background color ------------ */
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading:after {
    content: "";
    display: block;
    border-top: 30px solid transparent;
    border-left: 153px solid#ffffff;
    position: absolute;
    bottom: -1px;
    left: 0;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading:before {
    content: "";
    display: block;
    border-top: 30px solid transparent;
    border-right: 153px solid#ffffff;
    position: absolute;
    bottom: -1px;
    right: 0;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading .title {
    color: #fffcf9;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    word-break: break-word;
    padding: 0 10px;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading .head_text_part {
    background-color: #ffffff;
    padding: 14px 0;
    width: calc(100% + 50px);
    margin-left: -25px;
    position: relative;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading .head_text_part:after {
    content: "";
    display: block;
    border-top: 35px solid transparent;
    border-right: 25px solid#666666;
    position: absolute;
    top: -35px;
    left: 0;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading .head_text_part:before {
    content: "";
    display: block;
    border-top: 35px solid transparent;
    border-left: 25px solid#666666;
    position: absolute;
    top: -35px;
    right: 0;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading .head_text_part h2 {
    font-size: 18px;
    text-transform: uppercase;
    word-break: break-word;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading .header_arrow {
    position: relative;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading .header_arrow:after {
    content: "";
    display: block;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-top: 12px solid#fffcf9;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part {
    padding: 20px 0 50px;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part .pricing_table2_middle_content .pricing_table2_middle_price {
    margin-bottom: 15px;
    padding: 0 10px
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part .pricing_table2_middle_content .pricing_table2_middle_price h2 {
    color: #666666;
    font-size: 60px;
    word-break: break-word;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part .pricing_table2_middle_content .pricing_table2_middle_price .month p {
    color: #666666;
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part .pricing_table2_middle_content .pricing_table2_middle_facility ul li {
    padding: 18px 5px 15px;
    position: relative;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part .pricing_table2_middle_content .pricing_table2_middle_facility ul li:after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: #e7e7e5;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 50%;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part .pricing_table2_middle_content .pricing_table2_middle_facility ul li p {
    font-size: 16px;
    color: #626260;
    text-transform: capitalize;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part .pricing_table2_middle_content .pricing_table2_middle_facility ul li p span {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50px;
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part .pricing_table2_middle_content .pricing_table2_middle_facility ul li p span.check {
    background-color: #18d16c;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part .pricing_table2_middle_content .pricing_table2_middle_facility ul li p span.cross {
    background-color: #f5504e;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_bottom_btn_part {
    padding-bottom: 40px;
}
#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_bottom_btn_part .pricing_table2_bottom_btn {
    font-size: 25px;
    color: #fff;
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
    border-radius: 20px;
    font-weight: 700;
    padding: 18px 30px;
    display: inline-block;
}
/* ---------------- pro button background color ------------- */
#pricingTable2 .pricing_table2_section .pricing_table2_content .pro2 .pricing_table2_box_content .pricing_table2_bottom_btn_part .pricing_table2_bottom_btn {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
}
/* --------------- / pro button background color ------------ */
/* -------------/ Pritab Pricing Design 2 Css -------------- */
/* ================================================================= */
/* ================================================================= */
/* -------------- Pritab Pricing Design 3 Css -------------- */
#pricingTable3 {
    padding-top: 100px;
    padding-bottom: 100px;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box {
    width: 32%;
    background-color: #fff;
    border-radius: 40px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s all;
    cursor: pointer;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box:hover {
    transform: scale(1.05);
    z-index: 999;
    border-radius: 40px;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box:not(.advanced3) {
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
}
/* ----------- basic3 width ----------- */
#pricingTable3 .pricing_table3_section .pricing_table3_content .basic3 {
    width: 34%;
    border-radius: 40px 0 0 40px;
}
/* ---------- / basic3 width ---------- */
/* ----------- basic3 background img ----------- */
#pricingTable3 .pricing_table3_section .pricing_table3_content .basic3 .pricing_table3_box_content .pricing_table3_bottom_part {
    padding: 60px 15px;
    background-image: url(libraries/images/leftbackimg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
/* ---------- / basic3 background img ---------- */
/* ----------- pro3 width ----------- */
#pricingTable3 .pricing_table3_section .pricing_table3_content .pro3 {
    width: 34%;
    border-radius: 0 40px 40px 0;
}
/* ---------- / pro3 width ---------- */
/* ----------- pro3 background img ----------- */
#pricingTable3 .pricing_table3_section .pricing_table3_content .pro3 .pricing_table3_box_content .pricing_table3_bottom_part {
    padding: 60px 15px;
    background-image: url(libraries/images/rightbackimg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
/* ---------- / pro3 background img ---------- */
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_heading {
    background-color: #ea5e5d;
    padding: 15px 0;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_heading .title {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    word-break: break-word
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part {
    padding: 65px 15px;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_head h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #575757;
    position: relative;
    padding-bottom: 20px;
    word-break: break-word;
}
/* ---------- Advance3 head color ----------- */
#pricingTable3 .pricing_table3_section .pricing_table3_content .advanced3 .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_head h2 {
    color: #dd605a;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .advanced3 .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_head h2:after {
    background-color: #dd605a !important;
}
/* --------- / Advance3 head color ---------- */
/* ---------- Advance3 box-shadow ----------- */
#pricingTable3 .pricing_table3_section .pricing_table3_content .advanced3 {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
/* --------- / Advance3 box-shadow ---------- */
/* ----------- advance3 background img ----------- */
#pricingTable3 .pricing_table3_section .pricing_table3_content .advanced3 .pricing_table3_box_content .pricing_table3_bottom_part {
    background-image: url(libraries/images/middlebackimg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
/* ---------- / advance3 background img ---------- */
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_head h2:after {
    content: "";
    display: block;
    width: 130px;
    height: 3px;
    background-color: #d9d9d9;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%);
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_price {
    margin: 35px 10px 25px;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_price h2 {
    color: #dd605a;
    font-size: 80px;
    word-break: break-word;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_facility ul li {
    margin-bottom: 15px;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_facility ul li:last-child {
    margin-bottom: -1px;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_facility ul li p {
    color: #828282;
    font-size: 15px;
    word-break: break-word;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_btn_part {
    margin-top: 30px;
}
#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_btn_part .pricing_table3_btn {
    font-size: 15px;
    color: #e45f60;
    border: 2px solid#e45f60;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 30px;
    display: inline-block;
    transition: 0.5s;
}
/* ----------- Advance button design ---------- */
#pricingTable3 .pricing_table3_section .pricing_table3_content .advanced3 .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_btn_part .pricing_table3_btn {
    color: #fff;
    background-color: #e45f60;
}
/* ---------- / Advance button design --------- */
/* -------------/ Pritab Pricing Design 3 Css -------------- */
/* ================================================================= */
/* ================================================================= */
/* -------------- Pritab Pricing Design 4 Css -------------- */
#pricingTable4 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e3e2e7;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box {
    width: 32%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    transition: 0.5s all;
    cursor: pointer;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box:hover {
    transform: scale(1.05);
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_box_heading {
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
    color: #fff;
    padding: 20px 10px 15px;
    border-radius: 10px 10px 0 0;
}
/* ----------- standard4 heading background color --------------*/
#pricingTable4 .pricing_table4_section .pricing_table4_content .standard4 .pricing_table4_box_content .pricing_table4_box_heading {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
}
.standard4 .text_gradient_color {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ----------- / standard4 heading background color ------------*/
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_box_heading .title {
    font-size: 40px;
    font-weight: 600;
    word-break: break-word;
    margin-bottom: 5px;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_box_heading .text {
    font-size: 15px;
    word-break: break-word;
}
.text_gradient_color {
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_box_price_part {
    padding: 25px 10px 15px;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_box_price_part h2 .dollor {
    font-size: 20px;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_box_price_part h2 .price {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: -4px;
    word-break: break-word;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_box_price_part h2 .point_price {
    font-size: 16px;
    font-weight: 600;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_box_price_part .month p {
    font-size: 16px;
    font-weight: 600;
    padding-left: 5px;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .price_bot_part .price_head {
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 8px 20px 8px 10px;
    margin-right: -10px;
    position: relative;
    word-break: break-word;
}
/* ------------- standard4 price head background color ------------ */
#pricingTable4 .pricing_table4_section .pricing_table4_content .standard4 .pricing_table4_box_content .price_bot_part .price_head {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .standard4 .pricing_table4_box_content .price_bot_part .price_head:after {
    border-left-color: #1b3b66 !important;
}
/* ------------- /standard4 price head background color ----------- */
/* ------------- premium4 price head background color ------------ */
#pricingTable4 .pricing_table4_section .pricing_table4_content .premium4 .pricing_table4_box_content .price_bot_part .price_head:after {
    border-left-color: #5e2480 !important;
}
/* ------------- /premium4 price head background color ----------- */
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .price_bot_part .price_head:after {
    border-bottom: 10px solid transparent;
    border-left: 10px solid #09544c;
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_facility_part {
    margin: 10px 0 20px;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_facility_part ul li {
    border-bottom: 2px solid#d6d6d6;
    padding: 15px 10px 10px;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_facility_part ul li p {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 600;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_facility_part ul li .check {
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* -------------- standard4 check color ---------- */
#pricingTable4 .pricing_table4_section .pricing_table4_content .standard4 .pricing_table4_box_content .pricing_table4_facility_part ul li .check {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ------------- / standard4 check color --------- */
/* -------------- Premium4 check color ---------- */
/* ------------- / Premium4 check color --------- */
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_facility_part ul li p .icon {
    font-size: 20px;
    width: 25%;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_facility_part ul li p .text {
    width: 75%;
    text-align: left;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_para_part {
    padding: 0 20px;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_para_part .para {
    font-size: 16px;
    color: #4e4e4e;
    font-weight: 600;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_addcart_btn {
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
    padding: 20px 0;
    margin-top: 30px;
}
/* ------------ standard4 add to cart background color -------------- */
#pricingTable4 .pricing_table4_section .pricing_table4_content .standard4 .pricing_table4_box_content .pricing_table4_addcart_btn {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
}
/* ----------- / standard4 add to cart background color ------------- */
/* ------------ premium4 add to cart background color -------------- */
/* ----------- / premium4 add to cart background color ------------- */
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_addcart_btn a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}
#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_addcart_btn span {
    font-size: 28px;
    padding-right: 15px;
}
/* -------------/ Pritab Pricing Design 4 Css -------------- */
/* ================================================================= */
/* ================================================================= */
/* -------------- Pritab Pricing Design 5 Css -------------- */
#pricingTable5 {
    padding-top: 100px;
    padding-bottom: 100px;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box {
    width: 33%;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    padding: 50px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s all;
    cursor: pointer;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box:hover {
    transform: scale(1.05);
    z-index: 999;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pro5 {
    z-index: 2;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_heading figure {
    width: 70%;
    display: block;
    margin: 0 auto 15px !important;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_heading figure i {
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150px;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box.pro5 .pricing_table5_box_content .pricing_table5_box_heading figure i{
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_heading .title {
    color: #058AC2;
    font-size: 25px;
    text-transform: uppercase;
    word-break: break-word;
    padding: 0 10px;
}
/* ----------- pro5 title color --------- */
#pricingTable5 .pricing_table5_section .pricing_table5_content .pro5 .pricing_table5_box_content .pricing_table5_box_heading .title {
    color: #29c08e;
    font-weight: 600;
}
/* ---------- / pro5 title color -------- */
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_facility {
    margin: 30px 0;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_facility ul {
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: left;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_facility ul li {
    margin-bottom: 15px;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_facility ul li:last-child {
    margin-bottom: -1px;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_facility ul li p .icon {
    width: 10%;
    color: #058AC2;
    font-size: 20px;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box.pro5 .pricing_table5_box_content .pricing_table5_box_facility ul li p .icon {
    color: #29c08e;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_facility ul li p .text {
    width: 90%;
    color: #000;
    font-size: 15px;
    padding-left: 10px;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_price_part h2 {
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* --------- pro5 price color ---------- */
#pricingTable5 .pricing_table5_section .pricing_table5_content .pro5 .pricing_table5_box_content .pricing_table5_box_price_part h2 {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* -------- / pro5 price color --------- */
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_price_part h2 .price {
    font-weight: 600;
    font-size: 80px;
    word-break: break-word
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_price_part h2 .dolor {
    font-size: 25px;
    word-break: break-word;
}
#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_buy_now_btn .buy_now_btn {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 50px;
    display: inline-block;
    text-transform: uppercase;
    background: rgb(5, 140, 194);
    background: -moz-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    background: linear-gradient(to right, rgba(5, 140, 194, 1) 0%, rgba(45, 88, 167, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058cc2', endColorstr='#2d58a7', GradientType=1);
}
/* ------------ pro5 btn back color ----------- */
#pricingTable5 .pricing_table5_section .pricing_table5_content .pro5 .pricing_table5_box_content .pricing_table5_box_buy_now_btn .buy_now_btn {
    background: rgb(42, 193, 142);
    background: -moz-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    background: linear-gradient(to right, rgba(42, 193, 142, 1) 0%, rgba(11, 132, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac18e', endColorstr='#0b8485', GradientType=1);
}
/* ----------- / pro5 btn back color ---------- */
/* -------------/ Pritab Pricing Design 5 Css -------------- */
/* ================================================================= */
/* ================================================================= */
/* -------------- Pritab Pricing Design 6 Css -------------- */
#pricingTable6 {
    padding-top: 100px;
    padding-bottom: 100px;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box {
    width: 32.5%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.6);
    transition: 0.5s all;
    cursor: pointer;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box:hover {
    transform: scale(1.05);
    z-index: 999;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part {
    background: rgb(116, 108, 255);
    background: -moz-linear-gradient(top, rgba(116, 108, 255, 1) 0%, rgba(186, 101, 248, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(116, 108, 255, 1) 0%, rgba(186, 101, 248, 1) 100%);
    background: linear-gradient(to bottom, rgba(116, 108, 255, 1) 0%, rgba(186, 101, 248, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#746cff', endColorstr='#ba65f8', GradientType=0);
    border-radius: 20px 20px 0 0;
    padding-top: 100px;
    position: relative;
}
/* ---------------- pro6 background color ------------- */
#pricingTable6 .pricing_table6_section .pricing_table6_content .pro6 .pricing_table6_box_content .pricing_table6_box_top_part {
    background: rgb(70, 154, 92);
    background: -moz-linear-gradient(top, rgba(70, 154, 92, 1) 0%, rgba(147, 196, 91, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(70, 154, 92, 1) 0%, rgba(147, 196, 91, 1) 100%);
    background: linear-gradient(to bottom, rgba(70, 154, 92, 1) 0%, rgba(147, 196, 91, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#469a5c', endColorstr='#93c45b', GradientType=0);
}
/* --------------- / pro6 background color -----------  */
/* ---------------- enterprise6 background color ------------- */
#pricingTable6 .pricing_table6_section .pricing_table6_content .enterprise6 .pricing_table6_box_content .pricing_table6_box_top_part {
    background: rgb(71, 98, 201);
    background: -moz-linear-gradient(top, rgba(71, 98, 201, 1) 0%, rgba(100, 159, 203, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(71, 98, 201, 1) 0%, rgba(100, 159, 203, 1) 100%);
    background: linear-gradient(to bottom, rgba(71, 98, 201, 1) 0%, rgba(100, 159, 203, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4762c9', endColorstr='#649fcb', GradientType=0);
}
/* --------------- / enterprise6 background color -----------  */
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(libraries/images/demo6backimg.png);
    background-size: 65%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 222;
    background-position: bottom right;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_heading .title {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
/* ------------ pro6 main head ------------- */
#pricingTable6 .pricing_table6_section .pricing_table6_content .pro6 .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_heading .pricing_table6_pro_head {
    background-color: #fff;
    width: calc(100% + 20px);
    padding: 10px 0;
    margin-left: -10px;
    position: relative;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pro6 .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_heading .pricing_table6_pro_head:after {
    content: "";
    display: block;
    border-bottom: 7px solid #b6b2c9;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: 100%;
    left: 0;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pro6 .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_heading .pricing_table6_pro_head:before {
    content: "";
    display: block;
    border-bottom: 7px solid #b6b2c9;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 100%;
    right: 0;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pro6 .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_heading .pricing_table6_pro_head h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #479860;
    font-weight: 600;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pro6 .pricing_table6_box_content .pricing_table6_box_top_part {
    padding-top: 45px;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pro6 .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_heading .pricing_table6_pro_head {
    margin-bottom: 60px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}
/* ----------- / pro6 main head ------------ */
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_facility {
    margin: 25px 0;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_facility ul {
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: left;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_facility ul li {
    margin-bottom: 15px;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_facility ul li:last-child {
    margin-bottom: -1px;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_facility ul li p .icon {
    width: 10%;
    color: #fff;
    font-size: 20px;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_facility ul li p .text {
    width: 90%;
    color: #fff;
    font-size: 15px;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_price h2 {
    color: #fff;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_price h2 .price {
    font-size: 90px;
    font-weight: 600;
    margin-bottom: -18px;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_price h2 .dolor {
    font-size: 20px;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_btn_part {
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    padding: 35px 0 25px;
}
#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_btn_part .pricing_table6_box_btn {
    color: #796bfe;
    font-size: 30px;
    border: 1px solid#796bfe;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 30px;
    display: inline-block;
}
/* -------------- pro6 btn color ------------- */
#pricingTable6 .pricing_table6_section .pricing_table6_content .pro6 .pricing_table6_box_content .pricing_table6_box_btn_part .pricing_table6_box_btn {
    background: rgb(70, 154, 92);
    background: -moz-linear-gradient(top, rgba(70, 154, 92, 1) 0%, rgba(147, 196, 91, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(70, 154, 92, 1) 0%, rgba(147, 196, 91, 1) 100%);
    background: linear-gradient(to bottom, rgba(70, 154, 92, 1) 0%, rgba(147, 196, 91, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#469a5c', endColorstr='#93c45b', GradientType=0);
    color: #fff;
    border-color: transparent;
}
/* ------------ / pro6 btn color ------------- */
/* -------------/ Pritab Pricing Design 6 Css -------------- */
/* ================================================================= */
/* ================================================================= */
/* -------------- Pritab Pricing Design 7 Css -------------- */
#pricingTable7 {
    background-color: #f3f4f6;
    padding-top: 100px;
    padding-bottom: 100px;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box {
    width: 31%;
    text-align: center;
    border-radius: 25px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    transition: 0.5s all;
    cursor: pointer;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box:hover {
    transform: scale(1.05);
    z-index: 999;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_header {
    padding: 30px 10px 100px;
    position: relative;
    background-color: #11cff3;
    z-index: 999;
}
/* ------------- basic7 header background color ------------- */
#pricingTable7 .pricing_table7_section .pricing_table7_content .basic7 .pricing_table7_box_content .pricing_table7_box_header {
    background: rgb(139, 252, 160);
    background: -moz-linear-gradient(top, rgba(139, 252, 160, 1) 1%, rgba(17, 207, 243, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(139, 252, 160, 1) 1%, rgba(17, 207, 243, 1) 100%);
    background: linear-gradient(to bottom, rgba(139, 252, 160, 1) 1%, rgba(17, 207, 243, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8bfca0', endColorstr='#11cff3', GradientType=0);
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .basic7 .pricing_table7_box_content .pricing_table7_box_header:after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    background-image: url('libraries/images/part-1.png');
    background-size: 100% 100%;
    background-position: top;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-repeat: no-repeat;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .basic7 .pricing_table7_box_content .pricing_table7_box_header:before {
    content: "";
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    bottom: -1px;
    right: 85%;
    z-index: 1;
    opacity: 0.5;
    background: rgb(106, 239, 184);
    background: -moz-linear-gradient(top, rgba(106, 239, 184, 1) 21%, rgba(106, 239, 184, 1) 34%, rgba(106, 239, 184, 1) 34%, rgba(30, 212, 234, 1) 53%, rgba(30, 212, 234, 1) 60%, rgba(159, 235, 249, 1) 99%);
    background: -webkit-linear-gradient(top, rgba(106, 239, 184, 1) 21%, rgba(106, 239, 184, 1) 34%, rgba(106, 239, 184, 1) 34%, rgba(30, 212, 234, 1) 53%, rgba(30, 212, 234, 1) 60%, rgba(159, 235, 249, 1) 99%);
    background: linear-gradient(to bottom, rgba(106, 239, 184, 1) 21%, rgba(106, 239, 184, 1) 34%, rgba(106, 239, 184, 1) 34%, rgba(30, 212, 234, 1) 53%, rgba(30, 212, 234, 1) 60%, rgba(159, 235, 249, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6aefb8', endColorstr='#9febf9', GradientType=0);
}
/* ------------ / basic7 header background color ------------ */
/* ------------- standard7 header background color ------------- */
#pricingTable7 .pricing_table7_section .pricing_table7_content .standard7 .pricing_table7_box_content .pricing_table7_box_header {
    background: rgb(254, 48, 87);
    background: -moz-linear-gradient(top, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fe3057', endColorstr='#ffa694', GradientType=0);
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .standard7 .pricing_table7_box_content .pricing_table7_box_header:after {
    content: "";
    display: block;
    width: 100%;
    height: 69px;
    background-image: url('libraries/images/part-2.png');
    background-size: 100% 100%;
    background-position: top;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-repeat: no-repeat;
}
/* ------------ / standard7 header background color ------------ */
/* ------------- premium7 header background color ------------- */
#pricingTable7 .pricing_table7_section .pricing_table7_content .premium7 .pricing_table7_box_content .pricing_table7_box_header {
    background: rgb(178, 41, 255);
    background: -moz-linear-gradient(top, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%);
    background: linear-gradient(to bottom, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b229ff', endColorstr='#2cc7fd', GradientType=0);
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .premium7 .pricing_table7_box_content .pricing_table7_box_header:after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    background-image: url('libraries/images/part-3.png');
    background-size: 100% 100%;
    background-position: top;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-repeat: no-repeat;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .premium7 .pricing_table7_box_content .pricing_table7_box_header:before {
    content: "";
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    bottom: -1px;
    left: 85%;
    z-index: 1;
    opacity: 0.5;
    background: rgb(128, 98, 254);
    background: -moz-linear-gradient(top, rgba(128, 98, 254, 1) 10%, rgba(30, 212, 234, 1) 60%, rgba(190, 232, 254, 1) 99%);
    background: -webkit-linear-gradient(top, rgba(128, 98, 254, 1) 10%, rgba(30, 212, 234, 1) 60%, rgba(190, 232, 254, 1) 99%);
    background: linear-gradient(to bottom, rgba(128, 98, 254, 1) 10%, rgba(30, 212, 234, 1) 60%, rgba(190, 232, 254, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8062fe', endColorstr='#bee8fe', GradientType=0);
}
/* ------------ / premium7 header background color ------------ */
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_header .pricing_table7_box_heading {
    margin-bottom: 10px;
}
/* -------------- basic7 header circle -------------- */
#pricingTable7 .pricing_table7_section .pricing_table7_content .basic7 .pricing_table7_box_content .pricing_table7_box_header .header_bottom_circle:after {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom: 53px;
    right: -15px;
    z-index: 1;
    background: rgb(106, 239, 184);
    background: -moz-linear-gradient(top, rgba(106, 239, 184, 1) 21%, rgba(106, 239, 184, 1) 34%, rgba(106, 239, 184, 1) 34%, rgba(30, 212, 234, 1) 53%, rgba(30, 212, 234, 1) 60%, rgba(159, 235, 249, 1) 99%);
    background: -webkit-linear-gradient(top, rgba(106, 239, 184, 1) 21%, rgba(106, 239, 184, 1) 34%, rgba(106, 239, 184, 1) 34%, rgba(30, 212, 234, 1) 53%, rgba(30, 212, 234, 1) 60%, rgba(159, 235, 249, 1) 99%);
    background: linear-gradient(to bottom, rgba(106, 239, 184, 1) 21%, rgba(106, 239, 184, 1) 34%, rgba(106, 239, 184, 1) 34%, rgba(30, 212, 234, 1) 53%, rgba(30, 212, 234, 1) 60%, rgba(159, 235, 249, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6aefb8', endColorstr='#9febf9', GradientType=0);
    opacity: 0.7;
}
/* ------------- / basic7 header circle ------------- */
/* -------------- standard7 header circle -------------- */
#pricingTable7 .pricing_table7_section .pricing_table7_content .standard7 .pricing_table7_box_content .pricing_table7_box_header .header_bottom_circle:after {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: -25px;
    z-index: 1;
    background: rgb(254, 48, 87);
    background: -moz-linear-gradient(top, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fe3057', endColorstr='#ffa694', GradientType=0);
    opacity: 0.7;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .standard7 .pricing_table7_box_content .pricing_table7_box_header .header_bottom_circle:before {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: -25px;
    z-index: 1;
    background: rgb(254, 48, 87);
    background: -moz-linear-gradient(top, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fe3057', endColorstr='#ffa694', GradientType=0);
    opacity: 0.7;
}
/* ------------- / standard7 header circle ------------- */
/* -------------- premium7 header circle -------------- */
#pricingTable7 .pricing_table7_section .pricing_table7_content .premium7 .pricing_table7_box_content .pricing_table7_box_header .header_bottom_circle:after {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom: 53px;
    left: -15px;
    z-index: 1;
    background: rgb(178, 41, 255);
    background: -moz-linear-gradient(top, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%);
    background: linear-gradient(to bottom, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b229ff', endColorstr='#2cc7fd', GradientType=0);
    opacity: 0.7;
}
/* ------------- / premium7 header circle ------------- */
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_header .pricing_table7_box_heading .title {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 15px;
    word-break: break-word;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_header .pricing_table7_box_heading .title:after {
    content: "";
    display: block;
    width: 135px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%);
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_header .pricing_table7_box_price_part h2 {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_header .pricing_table7_box_price_part h2 .price {
    z-index: 999;
    word-break: break-word;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_header .pricing_table7_box_price_part h2 .dolor {
    z-index: 999;
    word-break: break-word;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part {
    padding: 10px 20px 40px;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_bottom_para .text {
    font-size: 15px;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility ul li .icon_back {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    overflow: hidden;
    padding: 2px;
    background: rgb(139, 252, 160);
    background: -moz-linear-gradient(top, rgba(139, 252, 160, 1) 1%, rgba(17, 207, 243, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(139, 252, 160, 1) 1%, rgba(17, 207, 243, 1) 100%);
    background: linear-gradient(to bottom, rgba(139, 252, 160, 1) 1%, rgba(17, 207, 243, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8bfca0', endColorstr='#11cff3', GradientType=0);
    position: relative;
    line-height: 20px;
}
/* ---------------- standard7 icon color -------------- */
#pricingTable7 .pricing_table7_section .pricing_table7_content .standard7 .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility ul li .icon_back {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    overflow: hidden;
    padding: 2px;
    background: rgb(254, 48, 87);
    background: -moz-linear-gradient(top, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fe3057', endColorstr='#ffa694', GradientType=0);
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .standard7 .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility ul li .icon_back .icon span {
    background: rgb(254, 48, 87);
    background: -moz-linear-gradient(top, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%) !important;
    background: -webkit-linear-gradient(top, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%) !important;
    background: linear-gradient(to bottom, rgba(254, 48, 87, 1) 1%, rgba(255, 166, 148, 1) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fe3057', endColorstr='#ffa694', GradientType=0);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
/* --------------- / standard7 icon color ------------- */
/* ---------------- premium7 icon color -------------- */
#pricingTable7 .pricing_table7_section .pricing_table7_content .premium7 .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility ul li .icon_back {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    overflow: hidden;
    padding: 2px;
    background: rgb(178, 41, 255);
    background: -moz-linear-gradient(top, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%);
    background: linear-gradient(to bottom, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b229ff', endColorstr='#2cc7fd', GradientType=0);
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .premium7 .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility ul li .icon_back .icon span {
    background: rgb(178, 41, 255);
    background: -moz-linear-gradient(top, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%) !important;
    background: -webkit-linear-gradient(top, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%) !important;
    background: linear-gradient(to bottom, rgba(178, 41, 255, 1) 1%, rgba(44, 199, 253, 1) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b229ff', endColorstr='#2cc7fd', GradientType=0);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
/* --------------- / premium7 icon color ------------- */
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility ul li .icon_back .icon {
    background-color: #fff;
    border-radius: 50px;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility ul li .icon_back .icon span {
    background: rgb(139, 252, 160);
    background: -moz-linear-gradient(top, rgba(139, 252, 160, 1) 1%, rgba(17, 207, 243, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(139, 252, 160, 1) 1%, rgba(17, 207, 243, 1) 100%);
    background: linear-gradient(to bottom, rgba(139, 252, 160, 1) 1%, rgba(17, 207, 243, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8bfca0', endColorstr='#11cff3', GradientType=0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 20px;
    font-size: 12px;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility {
    width: 95%;
    display: block;
    margin: 30px auto;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility ul li {
    margin-bottom: 15px;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility ul li:last-child {
    margin-bottom: -1px;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility ul li .text {
    width: calc(100% - 25px);
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
}
#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_btn_part .pricing_table7_box_btn {
    background: rgb(55, 221, 219);
    background: -moz-linear-gradient(left, rgba(55, 221, 219, 1) 1%, rgba(107, 240, 183, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(55, 221, 219, 1) 1%, rgba(107, 240, 183, 1) 100%);
    background: linear-gradient(to right, rgba(55, 221, 219, 1) 1%, rgba(107, 240, 183, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#37dddb', endColorstr='#6bf0b7', GradientType=1);
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 30px;
    display: inline-block;
}
/* --------------- standard7 btn background color ---------------*/
#pricingTable7 .pricing_table7_section .pricing_table7_content .standard7 .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_btn_part .pricing_table7_box_btn {
    background: rgb(255, 117, 124);
    background: -moz-linear-gradient(left, rgba(255, 117, 124, 1) 1%, rgba(254, 52, 90, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 117, 124, 1) 1%, rgba(254, 52, 90, 1) 100%);
    background: linear-gradient(to right, rgba(255, 117, 124, 1) 1%, rgba(254, 52, 90, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff757c', endColorstr='#fe345a', GradientType=1);
}
/* -------------- / standard7 btn background color --------------*/
/* --------------- premium7 btn background color ---------------*/
#pricingTable7 .pricing_table7_section .pricing_table7_content .premium7 .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_btn_part .pricing_table7_box_btn {
    background: rgb(87, 148, 254);
    background: -moz-linear-gradient(left, rgba(87, 148, 254, 1) 1%, rgba(141, 81, 254, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(87, 148, 254, 1) 1%, rgba(141, 81, 254, 1) 100%);
    background: linear-gradient(to right, rgba(87, 148, 254, 1) 1%, rgba(141, 81, 254, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5794fe', endColorstr='#8d51fe', GradientType=1);
}
/* -------------- / premium7 btn background color --------------*/
/* -------------/ Pritab Pricing Design 7 Css -------------- */
/* ================================================================= */