html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:none;outline:0;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;text-decoration:none;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0}
blockquote:before,blockquote:after,q:before,q:after{content:""}
*{margin:0;padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {display: block; }                                
ol, ul { list-style: none}
blockquote, q { quotes: none;}
:focus { outline: 0;}
table { border-collapse: collapse; border-spacing: 0;}
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
a{text-decoration:none; position:relative; color:#000;}
audio,video,canvas {max-width: 100%;}
.clear{clear:both; font-size:1px; display:table;}
/* ----------------------------------STYLE SHEET LAYOUT--------------------------------------------- */
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: normal !important;
}
figure {
    margin: 0 !important;
    padding: 0 !important;
}
.table th,
.table td {
    padding: 6px;
}
a:hover {
    text-decoration: none;
    -webkit-transform: all 0.5s linear 0s;
    -moz-transform: all 0.5s linear 0s;
    -ms-transform: all 0.5s linear 0s;
    -o-transform: all 0.5s linear 0s;
    transform: all 0.5s linear 0s;
}
.dark-bg{
    background-color: #CCCCCC;
}
.light-bg{
    background-color: #f1f1f1;
}