@media only screen and (max-width: 1200px){
	/* ---------- Pritab Pricing Design 5---------- */
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_facility ul{width: 80%;}
	/* --------- / Pritab Pricing Design 5 -------- */

	/* ---------- Pritab Pricing Design 6---------- */
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_facility ul{width: 80%;}
	/* --------- / Pritab Pricing Design 6 -------- */
}

@media only screen and (max-width: 992px){
	/* ---------- Pritab Pricing Design 1---------- */
		#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box{width: 48%;margin:0 auto 15px;}
	/* --------- / Pritab Pricing Design 1 -------- */

	/* ---------- Pritab Pricing Design 2---------- */
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box{width: 48%;margin:0 auto 15px;}
	/* --------- / Pritab Pricing Design 2 -------- */

	/* ---------- Pritab Pricing Design 3---------- */
		#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box{width: 51% !important;border-radius: 40px !important;margin-bottom: 15px;}
		#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box:last-child{margin-bottom: 0;}
	/* --------- / Pritab Pricing Design 3 -------- */

	/* ---------- Pritab Pricing Design 4---------- */
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box{width: 48%;margin:0 auto 15px;}
	/* --------- / Pritab Pricing Design 4 -------- */

	/* ---------- Pritab Pricing Design 5---------- */
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box{width: 52%;margin:0 auto 20px;}
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box{padding:50px 0 !important;}
	/* --------- / Pritab Pricing Design 5 -------- */

	/* ---------- Pritab Pricing Design 6---------- */
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box{width: 48%;display: block;margin: 0 auto 15px;}
	/* --------- / Pritab Pricing Design 6 -------- */

	/* ---------- Pritab Pricing Design 7---------- */
		#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box{width: 48%;display: block;margin:0 auto 15px;}
	/* --------- / Pritab Pricing Design 7 -------- */
}

@media only screen and (max-width: 768px){
	/* ---------- Pritab Pricing Design 1---------- */
		#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box{width: 68%;}
	/* --------- / Pritab Pricing Design 1 -------- */

	/* ---------- Pritab Pricing Design 2---------- */
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box{width: 68%;margin:0 auto 25px;}
	/* --------- / Pritab Pricing Design 2 -------- */

	/* ---------- Pritab Pricing Design 3---------- */
		#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box{width: 65% !important;}
	/* --------- / Pritab Pricing Design 3 -------- */

	/* ---------- Pritab Pricing Design 4---------- */
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box{width: 75%;}
	/* --------- / Pritab Pricing Design 4 -------- */

	/* ---------- Pritab Pricing Design 5---------- */
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box{width: 75%;}
	/* --------- / Pritab Pricing Design 5 -------- */

	/* ---------- Pritab Pricing Design 6 ---------- */
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box{width: 70%;}
	/* --------- / Pritab Pricing Design 6 -------- */

	/* ---------- Pritab Pricing Design 7 ---------- */
		#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box{width: 75%;}
	/* --------- / Pritab Pricing Design 7 -------- */

	/* --------------- Pritab Pricing Design Heading -------------- */
		.pricing_design_heading p{font-size: 20px;}
	/* -------------- / Pritab Pricing Design Heading ------------- */
}

@media only screen and (max-width: 640px){
	/* ---------- Pritab Pricing Design 1---------- */
		#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content ul li p{font-size: 16px;}
		#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content .addTocart a{font-size: 22px;}
	/* --------- / Pritab Pricing Design 1 -------- */

	/* ---------- Pritab Pricing Design 5 ---------- */
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_heading figure{width: 100%;}
	/* --------- / Pritab Pricing Design 5 -------- */
}


@media only screen and (max-width: 575px){
	/* ---------- Pritab Pricing Design 1 ---------- */
		#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content .bottom_part{height: 65px;margin-bottom: -20px;}
	/* --------- / Pritab Pricing Design 1  -------- */

	/* ---------- Pritab Pricing Design 2 ---------- */
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading:before{border-right: 160px solid#fffcf9;}
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading:after{border-left: 160px solid#fffcf9;}
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_bottom_btn_part .pricing_table2_bottom_btn{font-size: 20px;padding:15px 30px;}
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part .pricing_table2_middle_content .pricing_table2_middle_price .month p{font-size: 15px;}
	/* --------- / Pritab Pricing Design 2 -------- */

	/* ---------- Pritab Pricing Design 5---------- */
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_heading figure i{font-size: 120px;}
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_heading .title{font-size: 22px;}
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_facility ul li p .icon{width: 7%;}
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_facility ul li p .text{width: 93%;}
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_price_part h2 .price{font-size: 65px;}
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_buy_now_btn .buy_now_btn{font-size: 25px;padding:13px 25px;}
	/* --------- / Pritab Pricing Design 5 -------- */
}

@media only screen and (max-width: 479px){
	/* ---------- Pritab Pricing Design 1 ---------- */
		#pricingTable1{padding-top: 30px;padding-bottom: 30px;}
	/* --------- / Pritab Pricing Design 1 -------- */

	/* ---------- Pritab Pricing Design 2 ---------- */
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box{width: 80%;}
		#pricingTable2 {padding-top: 30px;padding-bottom: 30px;}
	/* --------- / Pritab Pricing Design 2  -------- */

	/* ---------- Pritab Pricing Design 3 ---------- */
		#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part .pricing_table3_bottom_price h2{font-size: 60px;}
		#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box .pricing_table3_box_content .pricing_table3_bottom_part{padding:55px 15px;}
		#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box {width: 75% !important;}
		#pricingTable3{padding-top: 30px;padding-bottom: 30px;}
	/* --------- / Pritab Pricing Design 3 -------- */

	/* ---------- Pritab Pricing Design 4 ---------- */
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box{width: 80%;}
		#pricingTable4{padding-top: 30px;padding-bottom: 30px;}
	/* --------- / Pritab Pricing Design 4 -------- */

	/* ---------- Pritab Pricing Design 5 ---------- */
		#pricingTable5{padding-top: 30px;padding-bottom: 30px;}
	/* --------- / Pritab Pricing Design 5 -------- */

	/* ---------- Pritab Pricing Design 6 ---------- */
		#pricingTable6{padding-top: 30px;padding-bottom: 30px;}
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_facility ul li p .text{font-size: 13px;}
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_facility ul li p .icon{font-size: 16px;}
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_price h2 .price{font-size: 75px;}
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_btn_part .pricing_table6_box_btn{font-size: 25px;}
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pro6 .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_heading .pricing_table6_pro_head h2{font-size: 18px;}
	/* --------- /Pritab Pricing Design 6 -------- */

	/* ---------- Pritab Pricing Design 7 ---------- */
		#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box{width: 85%;}
		#pricingTable7{padding-top: 30px;padding-bottom: 30px;}
		#pricingTable7 .pricing_table7_section .pricing_table7_content .standard7 .pricing_table7_box_content .pricing_table7_box_header:after{height: 72px;}
	/* --------- / Pritab Pricing Design 7 -------- */

	/* --------------- Pritab Pricing Design Heading -------------- */
		.pricing_design_heading p{font-size: 18px;}
		.pricing_design_heading p:before{width: 35%;}
		.pricing_design_heading p:after{width: 35%;}
	/* -------------- / Pritab Pricing Design Heading ------------- */
}

@media only screen and (max-width: 375px){
	/* ---------- Pritab Pricing Design 1 ---------- */
	    #pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box{width: 100%;}
		#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .pricing_table_heading{background-size: 6%;}
		#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part{background-size: 6%;}
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_middle_part .pricing_table2_middle_content .pricing_table2_middle_price h2{font-size: 50px;}
	/* --------- / Pritab Pricing Design 1 -------- */

	/* ---------- Pritab Pricing Design 2 ---------- */
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box{width: 100%;}
	/* --------- / Pritab Pricing Design 2 -------- */

	/* ---------- Pritab Pricing Design 3 ---------- */
		#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box{width: 85% !important;}
	/* --------- / Pritab Pricing Design 3 -------- */

	/* ---------- Pritab Pricing Design 4 ---------- */
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box{width: 100%;}
	/* --------- / Pritab Pricing Design 4 -------- */

	/* ---------- Pritab Pricing Design 5 ---------- */
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box{width: 100%;}
	/* --------- / Pritab Pricing Design 5 -------- */

	/* ---------- Pritab Pricing Design 6 ---------- */
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box{width: 85%;}
	/* --------- / Pritab Pricing Design 6 -------- */

	/* ---------- Pritab Pricing Design 7 ---------- */
		#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box{width: 100%;}
		#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_btn_part .pricing_table7_box_btn{font-size: 16px;}
		#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility ul li .text{font-size: 13px;}
	/* --------- / Pritab Pricing Design 7 -------- */

	/* --------------- Pritab Pricing Design Heading -------------- */
		.pricing_design_heading p{font-size: 16px;}
		.pricing_design_heading p:before{width: 30%;}
		.pricing_design_heading p:after{width: 30%;}
	/* -------------- / Pritab Pricing Design Heading ------------- */
}

@media only screen and (max-width: 320px){
	/* ---------- Pritab Pricing Design 1 ---------- */
		#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .pricing_table_heading{padding: 25px 0 35px;}
		#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content ul li p{font-size: 14px;}
		#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content .addTocart a{font-size: 20px;}
		#pricingTable1 .pricing_table_section .pricing_table_content .pricing_table_box .pricing_table_box_content .facility_part .facility_content .bottom_part{height: 55px;}
	/* --------- / dPritab Pricing Design 1 -------- */

	/* ---------- Pritab Pricing Design 2 ---------- */
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading{padding-top: 30px;}
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_bottom_btn_part .pricing_table2_bottom_btn{font-size: 16px;padding:12px 30px;}
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box{padding:0 15px;}
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading .head_text_part{width: calc(100% + 30px);margin-left: -15px;}
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading .head_text_part:after{border-top: 25px solid transparent;border-right: 15px solid#666666;top: -25px;}
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading .head_text_part:before{border-top: 25px solid transparent;border-left: 15px solid#666666;top: -25px;}
		#pricingTable2 .pricing_table2_section .pricing_table2_content .pricing_table2_box .pricing_table2_box_content .pricing_table2_heading .head_text_part h2{font-size: 16px;}
	/* --------- / Pritab Pricing Design 2 -------- */

	/* ---------- Pritab Pricing Design 3 ---------- */
		#pricingTable3 .pricing_table3_section .pricing_table3_content .pricing_table3_box{width: 100% !important;}
	/* --------- / Pritab Pricing Design 3 -------- */

	/* ---------- Pritab Pricing Design 4 ---------- */
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_facility_part ul li p{font-size: 14px;}
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_para_part .para{font-size: 14px;}
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_addcart_btn a{font-size: 14px;}
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_box_heading .title{font-size: 35px;}
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .price_bot_part .price_head{font-size: 13px;}
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_box_heading .text{font-size: 13px;}
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_addcart_btn span{font-size: 22px;}
		#pricingTable4 .pricing_table4_section .pricing_table4_content .pricing_table4_box .pricing_table4_box_content .pricing_table4_addcart_btn{padding:15px 0;}
	/* --------- / Pritab Pricing Design 4 -------- */

	/* ---------- Pritab Pricing Design 5 ---------- */
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_facility ul{width: 90%;}
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box{padding:30px 0 !important;}
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_buy_now_btn .buy_now_btn{font-size: 20px;}
		#pricingTable5 .pricing_table5_section .pricing_table5_content .pricing_table5_box .pricing_table5_box_content .pricing_table5_box_heading figure i{font-size: 120px;}
	/* --------- / Pritab Pricing Design 5 -------- */

	/* ---------- Pritab Pricing Design 6 ---------- */
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box{width: 100%;}
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part{padding-top: 75px;}
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_facility ul{width: 85%;}
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pricing_table6_box .pricing_table6_box_content .pricing_table6_box_btn_part .pricing_table6_box_btn{font-size: 20px;}
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pro6 .pricing_table6_box_content .pricing_table6_box_top_part{padding-top: 45px;}
		#pricingTable6 .pricing_table6_section .pricing_table6_content .pro6 .pricing_table6_box_content .pricing_table6_box_top_part .pricing_table6_box_heading .pricing_table6_pro_head{margin-bottom: 40px;}
	/* --------- / Pritab Pricing Design 6 -------- */ 

	/* ---------- Pritab Pricing Design 7 ---------- */
		#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part .pricing_table7_box_facility{width: 100%;}
		#pricingTable7 .pricing_table7_section .pricing_table7_content .basic7 .pricing_table7_box_content .pricing_table7_box_header .header_bottom_circle:after{width: 100px;height: 100px;}
		#pricingTable7 .pricing_table7_section .pricing_table7_content .pricing_table7_box .pricing_table7_box_content .pricing_table7_box_bottom_part{padding:10px 10px 40px;}
		#pricingTable7 .pricing_table7_section .pricing_table7_content .standard7 .pricing_table7_box_content .pricing_table7_box_header .header_bottom_circle:after{width: 100px;height: 100px;}
		#pricingTable7 .pricing_table7_section .pricing_table7_content .standard7 .pricing_table7_box_content .pricing_table7_box_header .header_bottom_circle:before{width: 100px;height: 100px;}
		#pricingTable7 .pricing_table7_section .pricing_table7_content .premium7 .pricing_table7_box_content .pricing_table7_box_header .header_bottom_circle:after{width: 100px;height: 100px;}
	/* --------- / Pritab Pricing Design 7  -------- */

		/* --------------- Pritab Pricing Design Heading -------------- */
		.pricing_design_heading p{font-size: 14px;}
	/* -------------- / Pritab Pricing Design Heading ------------- */
}